<header>
texte
</header>

<div class ="cercle"> <div style="margin : 130px ; margin-top: 0px;"> <div class ="carre">
<h2 class ="pseudo"> TheBlackNinjas </h2>  </div>
<p class="mail">Adresse mail </p> </div></div>
<hr>
<p class="classement"> Le joueur est 'tel position' dans le classement </p>
<pre class="infoj"> Le joueur a 'nombre' points </pre>

<footer>
<li><a href="./informations.html">Informations</a></li>
<li><a href="./contact.html">Nous Contacter</a></li>
<li><a href="./aide.html">Aide</a></li>
</footer>