/* Add application styles & imports to this file! */
li {
  font-family : Verdana, Geneva, Tahoma, sans-serif ;
  color: #fff;
  margin-left: 30px;
  }

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #006d77;
    color: #fff ;
}

h2 {
  color: #e29578 ;
  border : 1px dotted #006d77;

}
p {
    margin: 10px 0;
    width: 50% ;
    padding: 5px;
    border: 1px solid #ffddd2 ;
}

h3 {
  display:flex;
  color : #006d77;
  justify-content : center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #006d77;
    color: #black ;
}

h2.pseudo {
  color : #006d77;
  border : 0px;
  white-space:nowrap;
}

p.mail {
  white-space:nowrap;
  border : 0px;
  font-weight: light;
  color : #e29578;
}

.carre {
  width: 500px;
  height: 35px;
  border-radius : 0 px;
  background : #ffddd2;
}

h1 {
  display:flex;
  color : #006d77;
  justify-content : align;
}

.cercle {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background: #e29578 ;
}

p.classement {
  border: 0px;
  color : #e29578;
}
pre.infoj {
  display : flex;
  color : #006d77;
  border : 0px ;
  white-space:nowrap;
  justify-content: align ;
  margin : 0px ; 
  margin-top: 10px;
  margin-bottom: 10px ;
  font-size: 20px;
}
